.git
.github
.idea
.next
.yarn/cache
.yarn/install-state.gz
node_modules
.dockerignore
.editorconfig
.env
.env.example
.gitignore
.graphqlconfig
.prettierrc.js
Dockerfile
LICENSE
README.md
renovate.json
