# Yarn
node_modules/
.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Cloudflare Workers
.dev.vars

# TypeScript
tsconfig.tsbuildinfo

# Vite
dist/

# Relay
/pages/src/__generated__/*.graphql.ts
